@import "tailwindcss";

:root {
  --toastify-icon-color-success: var(--color-green-500);
  --toastify-color-progress-success: var(--color-green-500);
  --toastify-color-dark: var(--color-neutral-950);
}
