@import "tailwindcss";

:root {
  --toastify-icon-color-success: var(--color-green-500);
  --toastify-color-progress-success: var(--color-green-500);
  --toastify-color-dark: var(--color-neutral-950);
}

.fonticon {
  --color: currentColor;

  display: inline-block;
  width: 1em;
  height: 1em;
  color: var(--color);
  font-feature-settings: "liga";
  font-size: var(--size);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
}

.fonticon.-vendor-material {
  font-family: "Material Icons", sans-serif;
}

.fonticon.-vendor-exportify {
  font-family: "Exportify Icons", sans-serif;
}
